html, input {
    font-family:sans-serif;
}

body {
    max-width: 1200px;
    margin: 0px auto;
    padding: 2em;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: tomato;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-top: 50px;
}

.name-div {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.name-label {
    /* border: 1px solid red; */
    /* background-color: brown; */
    width: 300px;
    text-align: center;
}

.input-name {
    /* border: 1px solid orange; */
    /* background-color: chartreuse; */
    width: 500px;
}
 div { 
    margin-bottom: 20px;
     display: flex; 
     justify-content: space-between;  
    align-items: center;
} 

label, input, button {
    font-size: 16px;
    line-height: 1.5;
}

/* label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
} */

input {
    flex: auto;
    /* width: 50%; */
} 

button {
    width: 70%;
    margin: 0 auto;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}

@media only screen and(max-width: 360px) {
    h1{
        font-size: 40px;
        text-align: center;
    }
    label{
        width: 40%;
        font-size: 14px;
    }
    
}